path.domain{
    fill: none;
    stroke: gray;
}

circle.ptVC{
    fill: #5c9aff;
    stroke: gray;
    opacity: .8;
}

circle.ptOJ{
    fill: orange;
    stroke: gray;
    opacity: .8;
}

line{
    shape-rendering: crispEdges;
    stroke: gray;
}

text.title{
    font-family: "Lucida Console";
    font-size: medium;
}

.labelx,
.labely{
    font-family: "Lucida Console";
    font-size:small;
}

.rectBoxVC{
    fill: #5c9aff;
    stroke-width: 1px;
    stroke: darkgray;
}
.rectBoxOJ{
    fill: orange;
    stroke-width: 1px;
    stroke: darkgray;
}
.whiskers{
    stroke: blue;
    stroke-width: 1px;
}
.median {
    stroke: black;
    stroke-width: 4px;
}