path.domain{
    fill: none;
    stroke: gray;
}

circle.ptVC{
    fill: #5c9aff;
    stroke: gray;
    opacity: .8;
}

circle.ptOJ{
    fill: orange;
    stroke: gray;
    opacity: .8;
}

line{
    shape-rendering: crispEdges;
    stroke: gray;
}

text.title{
    font-family: "Lucida Console";
    font-size: medium;
}

.labelx,
.labely{
    font-family: "Lucida Console";
    font-size:small;
}